
@{
    ViewData["Title"] = "Visualization Dashboards";
    Layout = "~/Views/Shared/NewLayOut.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/css/pie.css">
<link rel="stylesheet" type="text/css" href="~/css/barchart.css">
<link rel="stylesheet" type="text/css" href="~/css/stackedbarchart.css">
<script src="~/js/charts/d3.js"></script>
<script src="~/js/charts/pie.js"></script>
<script src="~/js/charts/stackedbarchat.js"></script>
<script src="~/js/charts/barchar.js"></script>
<script src="~/js/Url.js"></script>

<!--Content area starts-->
<div class="content_area">
    <div class="content_container" ng-app="analysis" ng-controller="analysiscontroller" ng-init="ready()">

        <!--Path Nav Starts-->
        <div class="path_nav">
            <ul>
                <li><a href="../Home/Home">Home</a></li>
                <li><a href="../Home/Analysis">Analyze</a></li>
                <li><span>Delta Advisor Excellence Team - Visualization Dashboards</span></li>
            </ul>
        </div>
        <!--Path Nav Ends-->

        <div class="page_title">
            <div class="row">
                <div class="col-md-12">
                    <h1>Delta Advisor Excellence Team - Visualization Dashboards</h1>
                </div>
                <div class="col-md-6 text-right">

                </div>
            </div>
        </div>

        <div ng-app="analysis" ng-controller="analysiscontroller" ng-init="ready()">

            <div class="analysis_dashboard">

                <div class=" barchart-body">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="card shadow mb-2">
                                <div class="card-header py-3">
                                    <h5 class="m-0 ">Voice Simulation TechScore and SoftScore by UserName</h5>
                                </div>
                                <div class="card-body">
                                    <svg id="chart" width="400" height="350" style="height:400px;overflow:inherit;margin-left:10%"></svg>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="card shadow mb-2">
                                <div class="card-header py-3">
                                    <h5 class="m-0 ">No. of Voice simulations taken by Sales Associates</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card-body" id="piecharviz" width="400" style="height:400px;    margin-left: -30px;">

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row ">
                        <div class="col-md-6">
                            <div class="card shadow mb-2">
                                <div class="card-header py-3">
                                    <h5 class="m-0 ">No.Of Chat Simulations taken by Sales Associates </h5>
                                </div>
                                <div id="my_dataviz" width="400" style="height:340px;margin:50px;">

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow mb-2">
                                <div class="card-header py-3">
                                    <h5 class="m-0 ">Chat Simulation TechScore and SoftScore by UserName</h5>
                                </div>
                                <div class="card-body">

                                    <svg id="chart1" width="400" height="350" style="height:400px;overflow:inherit;margin-left:10%"></svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="../Home/Analysis" class="btn_main">
                        Go Back
                    </a>
                </div>
            </div>



        </div>



    </div>
</div>
<!--Content area ends-->



<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var UserID = localStorage.getItem("UserID");
    var Role = localStorage.getItem("Role");

    $.ajax({
        url: Url + "get_all_users_voiceassessment_counts_forplot?userid=" + UserID + "&role=" + Role+"&category=DeltaFaucet",
        //    url: "http://p0152610:81/get_all_users_assessment_counts_forplot",
        type: 'GET',
        processData: false,
        contentType: false,
        success: function (res) {
            plotPieChart(res);
            plotStackedBarChart(res, "#chart");
        },
        error: function (xhr, status, error) {
            console.log('error fetching  data')
        }
    });

    $.ajax({
        url: Url + "get_all_users_voiceassessment_counts_forplot?userid=" + UserID + "&role=" + Role + "&category=DeltaFaucet",
        //    url: "http://p0152610:81/get_all_users_assessment_counts_forplot",
        type: 'GET',
        processData: false,
        contentType: false,
        success: function (res) {
            //  plotBarChart(res);
            plotChatPieChart(res);
            plotStackedBarChart(res, "#chart1");
        },
        error: function (xhr, status, error) {
            console.log('error fetching  data')
        }
    });



    //$.ajax({
    //    url: Url + "get_all_users_assessment_counts_forplot?userid=" + UserID + "&role=" + Role,
    //    //    url: "http://p0152610:81/get_all_users_assessment_counts_forplot",
    //    type: 'GET',
    //    processData: false,
    //    contentType: false,
    //    success: function (res) {
    //        plotPieChart(res);
    //        plotBarChart(res);
    //        plotStackedBarChart(res, "#chart");
    //    },
    //    error: function (xhr, status, error) {
    //        console.log('error fetching  data')
    //    }
    //});

    //$.ajax({
    //    url: Url + "get_all_users_assessment_daily_counts_forplot?userid=" + UserID + "&role=" + Role,
    //    // url: "https://preptalk.bfmdev1.com/get_all_users_assessment_daily_counts_forplot",
    //    type: 'GET',
    //    processData: false,
    //    contentType: false,
    //    success: function (res) {
    //        console.log(res)
    //        plotStackedBarChart(res, "#chart1");
    //    },
    //    error: function (xhr, status, error) {
    //        console.log('error fetching  data')
    //    }
    //});

</script>
