@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    background: #f6f6f6;
}

.btn_main {
    background: #1b447f;
    background: -moz-linear-gradient(top, #1b447f 0%, #285daa 100%);
    background: -webkit-linear-gradient(top, #1b447f 0%,#285daa 100%);
    background: linear-gradient(to bottom, #1b447f 0%,#285daa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b447f', endColorstr='#285daa',GradientType=0 );
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    position: relative;
    display: inline-table;
}

    .btn_main:after {
        content: "\f105";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
        padding-left: 10px;
    }

    .btn_main:hover, .btn_main:focus, .btn_main:active {
        color: #fff;
        text-decoration: none;
        outline: none;
    }

.download {
    background-color: #1b447f;
    background-color: -moz-linear-gradient(top, #1b447f 0%, #285daa 100%);
    background-color: -webkit-linear-gradient(top, #1b447f 0%,#285daa 100%);
    background-color: linear-gradient(to bottom, #1b447f 0%,#285daa 100%);
    background-image: url('./../images/download.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
}

.path_nav {
    padding-bottom: 30px;
}

    .path_nav ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        .path_nav ul li {
            display: inline-block;
        }

            .path_nav ul li a {
                color: #33363c;
                text-decoration: underline;
            }

            .path_nav ul li:after {
                content: "\f105";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 16px;
                padding-left: 15px;
                padding-right: 15px;
            }

            .path_nav ul li:last-child:after {
                content: "";
                display: none;
            }

            .path_nav ul li span {
                color: #33363c;
            }
/* Sidebar styles*/
.sidebar {
    width: 230px;
    max-width: 230px;
    height: 100vh;
    background: #313443;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
}

.sidebar_overlay {
    display: none;
}

.logo {
    padding: 25px 20px;
    margin-bottom: 90px;
}

    .logo img {
        max-width: 100%;
    }

.main_menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #797979;
}

    .main_menu ul li a {
        display: inline-block;
        padding: 14px 15px;
        padding-left: 50px;
        color: #b3b3b3;
        text-transform: uppercase;
        border-bottom: 1px solid #797979;
        width: 100%;
        font-weight: 500;
        text-decoration: none;
        position: relative;
    }

        .main_menu ul li a img {
            position: absolute;
            left: 12px;
            vertical-align: middle;
            top: 9px;
        }

        .main_menu ul li a.active, .main_menu ul li a:hover {
            border-left: 4px solid #e42e40;
            color: #eff2f7;
            background: #23232b;
        }

            .main_menu ul li a.active img, .main_menu ul li a:hover img {
                left: 5px;
            }


/* Right content area */
.right_area {
    padding: 100px 0px 150px 230px;
    position: relative;
    min-height: 100vh;
}

.content_container {
    width: 100%;
    max-width: 1400px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    /*padding: 20px 15px;*/
    /*padding: 10px 15px;*/
    -webkit-box-shadow: 0px 3px 4px 0px rgba(143,143,143,0.7);
    -moz-box-shadow: 0px 3px 4px 0px rgba(143,143,143,0.7);
    box-shadow: 0px 3px 4px 0px rgba(143,143,143,0.7);
    background: #fff;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    padding-left: 245px;
    z-index: 9;
}

    .header .powered_by {
        position: relative;
    }

        .header .powered_by .menu_btn {
            display: none;
        }

        .header .powered_by p {
            margin: 0px;
            font-size: 20px;
            font-weight: 500;
            padding-left: 15px;
        }

            .header .powered_by p img {
                margin: 0px;
                width: 200px;
                /*width: 90px;*/
                max-width: 100%;
            }

.header-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top:15px;
}

    .header-menu li {
        display: inline-block;
        padding-left: 50px;
        position: relative;
    }

        .header-menu li::after {
            content: '';
            position: absolute;
            left: 25px;
            width: 1px;
            height: 20px;
            background: rgba(102, 102, 102, 0.45);
            top: 3px;
        }

        .header-menu li:first-child {
            padding-left: 10px;
        }

            .header-menu li:first-child::after {
                content: '';
                display: none;
            }

        .header-menu li a {
            text-decoration: none;
            color: #1b447f;
        }

.myaccount {
    padding-right: 70px;
}

    .myaccount span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -12px;
        right: 10px;
        border: 1px solid #ccc;
    }

        .myaccount span img {
            width: 100%;
        }
/*banner style starts*/
.banner_area {
    margin-bottom: 50px;
    position: relative;
    background-image: url(./../images/banner.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

    .banner_area img {
        max-width: 100%;
    }

    .banner_area .banner_content {
        width: 100%;
        top: 0px;
        text-align: center;
        padding: 15px;
    }

.banner_logo {
    padding-top: 40px;
    padding-bottom: 50px;
    display: inherit;
}

.banner_list {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

    .banner_list li {
        display: inline-block;
        padding: 5px;
        color: #fff;
        position: relative;
    }

        .banner_list li::before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: -3px;
        }

        .banner_list li a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
        }

.title1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}

.works_widget {
    background: #fff;
    border-bottom: 5px solid #db1d34;
    padding-top: 25px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
    box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
}

.works_list {
    list-style: none;
    margin: 0px;
}

    .works_list li {
        display: inline-block;
        padding: 15px 30px;
        width: 20%;
        margin-right: -4px;
        vertical-align: top;
        position: relative;
    }

        .works_list li::after {
            content: '';
            width: 28px;
            height: 22px;
            position: absolute;
            right: 0px;
            background: url(../images/right-arrow.png);
            background-repeat: no-repeat;
            background-position: center center;
            top: 65px;
        }

        .works_list li:last-child::after {
            content: '';
            display: none;
        }

        .works_list li img {
            margin-bottom: 15px;
            max-width: 100%;
        }

.feture_item .feture_img {
    width: 100%;
}

    .feture_item .feture_img img {
        width: 100%;
    }

.feture_item .feture_content {
    padding: 0px 20px;
    margin-top: -35px;
    position: relative;
    z-index: 1;
}

.feture_item .feture_content_inner {
    padding: 15px 15px 25px;
    background: #fff;
    border-bottom: 5px solid #db1d34;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
    box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
}


/*inner pages stryles*/
.page_title {
    margin-bottom: 20px;
}

    .page_title h1 {
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        font-size: 28px;
    }

.socres_info {
    background: #fff;
    padding: 7px 15px 7px 0px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(89,89,89,0.46);
    -moz-box-shadow: 0px 0px 3px 0px rgba(89,89,89,0.46);
    box-shadow: 0px 0px 3px 0px rgba(89,89,89,0.46);
}

    .socres_info p {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }

        .socres_info p b {
            padding-left: 15px;
        }

    .socres_info span {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        background: #ccc;
        margin: 0px 2px 0px 7px;
    }

        .socres_info span.score_green {
            background-color: #498e49;
        }

        .socres_info span.score_orange {
            background-color: #ffa500;
        }

        .socres_info span.score_red {
            background-color: #f14b4b;
        }

.inner_banner_area {
    margin-bottom: 50px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

    .inner_banner_area img {
        max-width: 100%;
    }

    .inner_banner_area .inner_banner_content {
        width: 100%;
        top: 0px;
        padding: 70px 30px;
        padding-right: 40%;
    }

        .inner_banner_area .inner_banner_content h2 {
            color: #fff;
            text-transform: uppercase;
            font-family: 'Work Sans', sans-serif;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .inner_banner_area .inner_banner_content p {
            color: #fff;
            font-size: 18px;
        }


.content_widget {
    margin-bottom: 20px;
}

    .content_widget .content_item {
        padding: 20px 20px 55px;
        min-height: 420px;
        background: #fff;
        border-bottom: 5px solid #db1d34;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        -moz-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        position: relative;
    }

        .content_widget .content_item h3 {
            text-transform: uppercase;
            font-family: 'Work Sans', sans-serif;
            font-weight: 700;
            font-size: 22px;
            padding-top: 10px;
        }

    .content_widget .btn_main {
        position: absolute;
        bottom: 20px;
    }

.ml-list {
    margin-bottom: 30px;
}

    .ml-list .ml-item {
        padding: 15px;
        background: #fff;
        border-bottom: 5px solid #db1d34;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        -moz-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        margin-bottom: 20px;
    }

    .ml-list .ml-title {
        position: relative;
        padding-left: 70px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        min-height: 70px;
    }

        .ml-list .ml-title img {
            position: absolute;
            left: 0px;
            width:55px;
        }

        .ml-list .ml-title h3 {
            text-transform: uppercase;
            font-family: 'Work Sans', sans-serif;
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 0px;
        }


.simulate_list {
    margin-bottom: 30px;
}

    .simulate_list > h2 {
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        font-size: 26px;
        text-align: center;
        padding-bottom: 15px;
    }

    .simulate_list .simulate_item {
        padding: 15px;
        background: #fff;
        border-bottom: 5px solid #db1d34;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        -moz-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
        margin-bottom: 20px;
    }

.simulate_item .simulate_img {
    max-width: 100%;
    margin-bottom: 15px;
}

    .simulate_item .simulate_img img {
        width: 100%;
    }

.simulate_item .simulate_content {
    text-align: center;
}

    .simulate_item .simulate_content h3 {
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        font-size: 22px;
    }

.simulate_rating {
    padding-bottom: 15px;
}

.simulate_item .taken_count {
    padding-top: 15px;
}

.scores_list .card {
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.26);
    -moz-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.26);
    box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.26);
}

    .scores_list .card .card-header {
        background-color: #fff;
        background-color: #fff;
        border-left: 0px solid rgba(0,0,0,.125);
        border-bottom: 0px solid rgba(0,0,0,.125);
    }

        .scores_list .card .card-header h5 {
            position: relative;
        }

            .scores_list .card .card-header h5 a.collapsed::before {
                content: "\f055";
            }

            .scores_list .card .card-header h5 a::before {
                content: "\f056";
                font: normal normal normal 14px/1 FontAwesome;
                color: #005e94;
                font-size: 18px;
            }

            .scores_list .card .card-header h5 a {
                font-family: 'Work Sans', sans-serif;
                font-weight: 700;
                font-size: 22px;
                padding-left: 0px;
            }

    .scores_list .card .card-body {
        border-bottom: 5px solid #db1d34;
    }

.scores_table thead {
    background: #33363c;
}

    .scores_table thead th {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
    }

.scores_table tbody img {
    max-width: 100%;
}

.scores {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #ccc;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

    .scores.green {
        background-color: #498e49;
    }

    .scores.orange {
        background-color: #ffa500;
    }

    .scores.red {
        background-color: #f14b4b;
    }

.chat_box {
    padding: 15px;
    background: #fff;
    border-bottom: 5px solid #db1d34;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
    box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.46);
    margin-bottom: 20px;
}

.chat_history {
    height: 516px;
    padding: 10px;
    overflow-y: auto;
}

.incoming_chat_img {
    display: inline-block;
    float: left;
    width: 50px;
}

    .incoming_chat_img img {
        max-width: 100%;
    }

.received_chat {
    float: left;
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.received_withd_chat {
    width: 57%;
}

    .received_withd_chat p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
        position: relative;
    }

.outgoing_chat {
    overflow: hidden;
    padding: 26px 0 26px;
    clear: both;
}

.sent_chat {
    float: right;
    width: 46%;
}

    .sent_chat p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

.outgoing_chat_img {
    display: inline-block;
    width: 60px;
    float: right;
    padding-left: 10px;
}

    .outgoing_chat_img img {
        max-width: 100%;
    }

.evaluate_btn {
    padding: 10px 0px
}

.analysis_dashboard .card-header h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}


/* chat styles */
.botui-app-container {
    width: 100% !important;
}

.botui-message-content {
    margin-left: 10px;
}

.botui-message-content {
    background-color: #dfe2f4 !important;
    position: relative;
}

    .botui-message-content::before {
        content: "\f0d9";
        color: #dfe2f4;
        font: normal normal normal 16px/1 FontAwesome;
        position: absolute;
        left: -6px;
    }

    .botui-message-content.human {
        background-color: #ede9e9 !important;
        color: #303240 !important;
        margin-right: 10px;
    }

        .botui-message-content.human::after {
            content: "\f0da";
            color: #ede9e9;
            font: normal normal normal 16px/1 FontAwesome;
            position: absolute;
            right: -6px;
        }

        .botui-message-content.human::before {
            content: "";
        }
/*chat styles ends*/
/* Footer styles starts*/
footer {
    bottom: 0px;
    padding: 25px 15px 25px 245px;
    background-color: #23232b;
    position: absolute;
    width: 100%;
    left: 0px;
}

    footer p, footer p a {
        color: #fff;
        text-decoration: none;
    }

        footer p a:hover {
            text-decoration: none;
        }

    footer span {
        color: #b3b3b3;
    }

.footer-right {
    text-align: right;
}

.footer-logo {
    display: inherit;
    padding-bottom: 10px;
    text-decoration: none;
}

.footer-site-link {
    color: #f6f6f6;
    text-decoration: none;
    border-bottom: 1px solid #f6f6f6;
}

    .footer-site-link:hover {
        text-decoration: none;
        color: #fff;
    }

.chat_button_img {
    position: absolute;
    right: 10px;
    top: -95px;
    z-index: 99;
    cursor: pointer;
}

#bot {
    width: 500px;
    max-width: 100%;
    z-index: 999;
    right: 0;
}
/*Footer style ends*/
@media only screen and (max-width: 1366px) {
    body {
        font-size: 0.9rem;
    }

    .sidebar {
        width: 240px;
        max-width: 200px;
    }

    .right_area {
        padding-left: 200px;
    }

    .header {
        padding-left: 215px;
    }

    .banner_list li a {
        font-size: 16px;
    }

    .title1 {
        font-size: 26px;
    }

    .inner_banner_area .inner_banner_content p {
        font-size: 16px;
    }

    .simulate_list > h2, .page_title h1 {
        font-size: 24px;
    }

    .simulate_item .simulate_content h3 {
        font-size: 18px;
    }

    .ml-list .ml-title h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }

        .sidebar.active {
            display: block;
        }

    .right_area {
        padding-left: 0px;
    }

    .header {
        padding-left: 15px;
    }

        .header .powered_by .menu_btn {
            display: block;
            position: absolute;
            top: 6px;
            left: -7px;
            color: #1b447f;
            font-size: 17px;
        }

    .works_list {
        padding-left: 0px;
    }

        .works_list li {
            width: 50%;
            text-align: center;
        }

            .works_list li::after {
                right: 12px;
            }

    footer {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }

    .content_container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .right_area {
        padding-bottom: 200px
    }

    .banner_list li a {
        font-size: 16px;
    }

    .sidebar_overlay.active {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 99;
    }

    .sidebar_overlay a {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 21px;
        color: red;
        height: 19px;
        background: #fff;
        border-radius: 50%;
    }

        .sidebar_overlay a i {
            position: relative;
            top: -6px;
        }


    .powered_by span {
        display: none;
    }

    .works_list {
        padding-left: 0px;
    }

        .works_list li {
            width: 100%;
            text-align: center;
        }

            .works_list li::after {
                top: auto;
                left: 50%;
                transform: rotate(90deg);
                margin-left: -16px;
                bottom: 0px;
            }

    .feture_item {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .header-menu {
        padding-top: 4px;
    }

        .header-menu li {
            padding-left: 15px;
        }

            .header-menu li:first-child {
                padding-left: 0px;
            }

            .header-menu li::after {
                content: '';
                left: 6px;
            }

            .header-menu li a {
                font-size: 13px;
            }

    .myaccount {
        padding-right: 50px;
    }

        .myaccount span {
            width: 40px;
            height: 40px;
            top: -10px;
            right: 3px;
        }

    .feture_item .feture_content {
        padding: 0px 10px
    }

    footer, .footer-right {
        text-align: center;
    }

    .footer-logo {
        padding-top: 10px;
    }
}
