
@{
    ViewData["Title"] = "MicroLearning";
    Layout = "~/Views/Shared/NewLayOut.cshtml";
}
<style>

    h4 {
        font-weight: bold;
    }

    .card1 {
        position: relative;
        display: flex;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e3e6f0;
        border-radius: .35rem;
        min-height: 99px;
    }
</style>
<!--Content area starts-->
<div class="content_area">
    <div class="content_container">


        <!--Path Nav Starts-->
        <div class="path_nav">
            <ul>
                <li><a href="../Home/Home">Home</a></li>
                <li><span>Micro-learning</span></li>
            </ul>
        </div>
        <!--Path Nav Ends-->
        <!--Bannewr area starts-->
        <div class="inner_banner_area" style="background-image: url('../images/analyze_banner.jpg');">
            <div class="inner_banner_content">
                <h2>Micro-Learning</h2>
                <p>
                    Explore a catalog of easy-to-consume educational materials designed to fit seamlessly into a team’s busy workday. Easily integrated with most learning management systems, the courses listed below are designed to optimize how learning happens across the ranks of customer service team, providing a valuable, business-friendly vehicle to power team-wide enrichment.
                </p>
            </div>
        </div>
        <!--Bannewr area ends-->
        <!--Micro-learnigs list starts-->
        <div class="ml-list">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="ml-item">
                        <div class="ml-title">
                            <img src="~/images/Touch2_55x44.png" alt="">
                            <h3> Touch<sub>2</sub>O.xt<sup>®</sup> Technology</h3>
                        </div>
                        <div class="ml-content">
                            <p>
                                .xt Technology helps keep your space clean by activating with a simple touch or when you move your hand close to the faucet or soap dispenser.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ml-item">
                        <div class="ml-title">
                            <img src="~/images/voiceiq_55x44.jpg" alt="">
                            <h3>
                                VoiceIQ Technology
                            </h3>
                        </div>
                        <div class="ml-content">
                            <p>
                                Delta® VoiceIQ™ Technology dispenses exactly the amount of water you need with hands-free voice activation.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ml-item">
                        <div class="ml-title">
                            <img src="~/images/Temp2O_55x44.jpg"  alt="" />
                            <h3> Temp<sub>2</sub>O<sup>®</sup> Technology</h3>
                        </div>
                        <div class="ml-content">
                            <p>
                                Temp2O Technology uses a digital display to show the temperature of the water flowing from your shower head or tub spout.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ml-item">
                        <div class="ml-title">
                            <img src="~/images/hydroshower_55x44.jpg" alt="">
                            <h3>HydraChoice™ Body Sprays</h3>
                        </div>
                        <div class="ml-content">
                            <p>
                                HydraChoice Body Sprays pop out from the wall for a flush look when not in use and 50° of adjustability in any direction when on.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ml-item">
                        <div class="ml-title">
                            <img src="~/images/Palm_55x44.png" alt="">
                            <h3> Palm<sup>®</sup> Shower</h3>
                        </div>
                        <div class="ml-content">
                            <p>
                                Palm Showers put control in the palm of your hand with an ergonomic design built to help make showering easier for everyone.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="ml-item">
                        <div class="ml-title">
                            <img src="~/images/TouchClean_55x44.jpg" alt="">
                            <h3>Touch-Clean<sup>®</sup> Spray Holes</h3>
                        </div>
                        <div class="ml-content">
                            <p>
                                Touch-Clean® spray holes allow you to easily wipe away calcium and lime build-up with the touch of a finger.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--Micro-learnigs list ends-->




    </div>
</div>
<!--Content area ends-->


<style>
    .abc {
        background: #d7e3fc;
        flex: 0 0 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 9px;
        width: 45px;
        margin-right: 10px;
        margin-left: 15px;
    }

    .imgSize {
        height: 20px;
    }

    .headLeft {
        text-align: left;
        padding-top: 18px;
    }

    .anchor:visited {
        background-color: white;
    }

    .anchor:hover {
        background-color: #f5f8ff;
    }
</style>