@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}


    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

<div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light  topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <img class="logowidth" src="~/images/Intelligent-Automation-transparent-logo.png" />
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Nav Item - Alerts -->
                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <img class="logowidth" src="~/images/att.png" />
                        <!-- Dropdown - Messages -->

                    </li>

                </ul>
            </nav>




        </div>
        <div class="container-fluid">
            <div class="row content"style="margin-bottom:20px;">
                <div class="col-md-8">
                    <video style="margin-top:10px;width:95%;" controls autoplay muted>
                        <source src="~/images/ATT4 (1).mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-md-3s" style="background-color:#f1f4f9; margin:10px;border:outset;border-radius:20px;width:350px;">

                    <div name="login">
                        @*<form action="@Url.Action("Login", "Home")" method="post" name="login">*@
                        <div class="logo mb-3">
                            <h3>Customer Support Login</h3>
                            <hr />
                        </div>
                        <div class="form-group">
                            <span for="exampleInputEmail1">User ID</span><br />
                            <input type="text" name="UserID" class="form-control" id="UserName" aria-describedby="emailHelp" placeholder="Enter User ID">
                        </div>
                        <div class="form-group">
                            <span for="exampleInputEmail1">Password</span><br />
                            <input type="password" name="Password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                        </div>
                        <div class="col-md-12 text-center ">
                            <button id="loginBtn" onclick="login()" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                        </div>


                    </div>
                    <br />
                    <br /><br />
                    <a href="#">Need Help ?</a>
                    <br /><br />
                    <a href="#">Report Login Issues</a>

                </div><br />

            </div>
        </div>
        <footer class="sticky-footer bg-black">
            <div class="container my-auto">
                <div class=" my-auto">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <img src="~/images/logo-lighter.png"><br />
                            <ul>
                                <li><img src="~/images/pactera-arrow-icon.png">&nbsp;<label>ABOUT US</label></li>
                                <br>
                                <li><img src="~/images/pactera-arrow-icon.png">&nbsp;<label>CAREERS</label></li>
                                <br>
                                <li><img src="~/images/pactera-arrow-icon.png">&nbsp;<label>CASE STUDIES</label></li>
                                <br>
                                <li><img src="~/images/pactera-arrow-icon.png">&nbsp;<label>INSIGHTS</label></li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <label>SEATTLE</label><br>
                            <ul>
                                <li>
                                    <img src="~/images/location-icon.png">&nbsp;

                                    14980 NE 31st Way Suite 100 Redmond, WA 98052
                                </li>
                                <br>
                                <li>
                                    <img src="~/images/phone-icon.png">&nbsp;


                                    1.425.233.8578
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <label>NEW YORK</label><br>
                            <ul>
                                <li>
                                    <img src="~/images/location-icon.png">&nbsp;
                                    102 Madison Ave 2nd Floor New York, NY 10016
                                </li>
                                <br>
                                <li>
                                    <img src="~/images/phone-icon.png">&nbsp;

                                    040.6818.2100
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <label>CHICAGO</label><br>
                            <ul>
                                <li>
                                    <img src="~/images/location-icon.png">&nbsp;

                                    500 W Madison St #1610, Chicago, IL 60661
                                </li>
                                <br>
                                <li>
                                    <img src="~/images/phone-icon.png">&nbsp;
                                    1.312.754.9220
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <label>INDIA</label><br>
                            <ul>
                                <li>
                                    <img src="~/images/location-icon.png">&nbsp;
                                    Purva Summit Hyd, 2nd Floor, isprout centre, White Field Rd,HITEC City, Hyderabad, Telangana 500081
                                </li>
                                <br>
                                <li>
                                    <img src="~/images/phone-icon.png">&nbsp;


                                    040.6818.2100
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>

