@{
    ViewBag.Title = "Simulate";
    Layout = "~/Views/Shared/NewLayOut.cshtml";
}



<div class="content_area">
    <div class="content_container">


        <!--Path Nav Starts-->
        <div class="path_nav">
            <ul>
                <li><a href="../Home/Home">Home</a></li>
                <li><span>Simulate</span></li>
            </ul>
        </div>
        <!--Path Nav Ends-->
        <!--Bannewr area starts-->
        <div class="inner_banner_area" style="background-image: url('../images/simulate_banner.jpg');">
            <div class="inner_banner_content">
                <h2>Simulate</h2>
                <p>
                    Partner with PrepTalk, our intelligent voice assistant, to complete a range of true-to-life customer service simulations. Thanks to voice technology, participants chat with Jessica just like they would any other customer. Tackle new challenges, bolster skills, and create more confident team players by practicing any of the scenarios listed below.
                </p>
                <p>Please note that you’ll need access to a microphone to complete these assessments.</p>
            </div>
        </div>
        <!--Bannewr area ends-->
        <!--Simulate List starts-->
        <div class="simulate_list">
            <h2>To start the simulation please select the option.</h2>

            <div class="row">

                <div class="col-sm-6 col-md-3">
                    <div class="simulate_item">
                        <div class="simulate_img">
                            <img src="../images/hydroshower.jpg" alt="">
                        </div>
                        <div class="simulate_content">
                            <h3>Understanding the ‘Showers & Body Sprays’ Products</h3>
                            <p>Using it to increase customer value</p>
                            <div class="simulate_rating">
                                <img src="../images/startrating.png" alt="">
                            </div>
                            <a href="../Assessment/Simulate" ng-click="displaystart('InsuranceUpsell')" class=" btn_main">
                                Start Simulation
                            </a>
                            <p class="taken_count">
                                895/955 Associates Taken
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="simulate_item">
                        <div class="simulate_img">
                            <img src="../images/voiceiq.jpg" alt="">
                        </div>
                        <div class="simulate_content">
                            <h3>Delta<sup>®</sup> VoiceIQ™ Technology</h3><br />
                            <p>Using it to increase customer value</p>
                            <div class="simulate_rating">
                                <img src="../images/startrating.png" alt="">
                            </div>
                            <a href="../Assessment/Simulate" class=" btn_main">
                                Start Simulation
                            </a>
                            <p class="taken_count">
                                500/635 Associates Taken
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="simulate_item">
                        <div class="simulate_img">
                            <img src="../images/Temp2O.jpg" alt="">
                        </div>
                        <div class="simulate_content">
                            <h3>Temp<sub>2</sub>O<sup>®</sup><br />Technology</h3><br />
                            <p>Using it to increase customer value</p>
                            <div class="simulate_rating">
                                <img src="../images/startrating.png" alt="">
                            </div>
                            <a href="../Assessment/Simulate" class=" btn_main">
                                Start Simulation
                            </a>
                            <p class="taken_count">
                                500/655 Associates Taken
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="simulate_item">
                        <div class="simulate_img">
                            <img src="../images/DiamondSeal.png" alt="">
                        </div>
                        <div class="simulate_content">
                            <h3>DIAMOND™ Seal Technology</h3><br />
                            <p>Using it to increase customer value</p>
                            <div class="simulate_rating">
                                <img src="../images/startrating.png" alt="">
                            </div>
                            <a href="../Assessment/Simulate" class=" btn_main">
                                Start Simulation
                            </a>
                            <p class="taken_count">
                                595/755 Associates Taken
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="simulate_item">
                        <div class="simulate_img">
                            <img src="../images/In2ition1.png" alt="">
                        </div>
                        <div class="simulate_content">
                            <h3>In<sub>2</sub>ition<sup>®</sup> Two-in-One Shower</h3>
                            <p>Using it to increase customer value</p>
                            <div class="simulate_rating">
                                <img src="../images/startrating.png" alt="">
                            </div>
                            <a href="../Assessment/Simulate" class=" btn_main">
                                Start Simulation
                            </a>
                            <p class="taken_count">
                                700/855 Associates Taken
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="simulate_item">
                        <div class="simulate_img">
                            <img src="../images/H2Okinetic-showers.jpg" alt="">
                        </div>
                        <div class="simulate_content">
                            <h3>H<sub>2</sub>0kinetic<sup>®</sup><br /> Technology</h3>
                            <p>Using it to increase customer value</p>
                            <div class="simulate_rating">
                                <img src="../images/startrating.png" alt="">
                            </div>
                            <a href="../Assessment/Simulate" class=" btn_main">
                                Start Simulation
                            </a>
                            <p class="taken_count">
                                805/900 Associates Taken
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="simulate_item">
                        <div class="simulate_img">
                            <img src="../images/LED-pendant.jpg" alt="">
                        </div>
                        <div class="simulate_content">
                            <h3>LED Pendant Raincan Shower Heads</h3>
                            <p>Using it to increase customer value</p>
                            <div class="simulate_rating">
                                <img src="../images/startrating.png" alt="">
                            </div>
                            <a href="../Assessment/Simulate" class=" btn_main">
                                Start Simulation
                            </a>
                            <p class="taken_count">
                                795/955 Associates Taken
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="simulate_item">
                        <div class="simulate_img">
                            <img src="../images/spotshield.png" alt="">
                        </div>
                        <div class="simulate_content">
                            <h3>SpotShield<sup>®</sup><br /> Technology</h3>
                            <p>Using it to increase customer value</p>
                            <div class="simulate_rating">
                                <img src="../images/startrating.png" alt="">
                            </div>
                            <a href="../Assessment/Simulate" class=" btn_main">
                                Start Simulation
                            </a>
                            <p class="taken_count">
                                495/555 Associates Taken
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--Simulate List ends-->



    </div>
</div>
<!--Content area ends-->


<script src="~/js/angular.js/angular.min.js"></script>
<script type="text/javascript">

    $scope.displaystart = function (selectedtopic) {
        topic = selectedtopic;
        $("#startsimulate").show();
        $("#selecttopic").hide();
        $("#startbutton").hide();
    }
</script>
<script src="~/js/botui/botui.min.js"></script>
<script src="~/js/botui/botui.js"></script>
<script src="~/js/vue/vue.min.js"></script>
<script src="~/js/audio.js"></script>
<script src="~/js/index.js"></script>
